@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "transition-style";

/*Define una serie de variables de CSS personalizadas*/
:root {
    --gold1: rgb(57, 133, 164);
    --gold2: rgb(66, 68, 155);
    --gray: rgb(28, 58, 76);
    --gray2: rgb(150, 198, 200);
    --black1: rgb(237, 224, 200);
    --black2: #30353b;
    /*Definición de sombra con desplazamiento y enfoque*/

    /*arriba, derecha, izquierda y abajo y el último valor siempre hará referencia al difuminado*/
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

/*Selector Universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    /*Esta propiedad se encarga de ocultar los elementos*/
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.container--modifier {
    width: 60%;
}

.hero {
    width: 100%;
    /*Altura minima del dispositivo*/
    min-height: 100vh;
    /*Establecer un fondo con un degradado lineal
    
    linear-gradient(180deg) se encarga de crear un degradado lineal horizontal de izquierda a derecha
    
    */
    background: linear-gradient(180deg, var(--gray2) 0%, var(--black1) 100%);
}

.nav__hero {
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 0;
}



/* Link servicios  */
.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.hero__main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.card__img {
    display: inline;
    margin-top: 80px;
    padding: auto;
    width: 65%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}


/* Tamaño letra footer */
.title__footer {
    font-size: 24px;
    margin-bottom: 32px;
}


/* Estilos para el formulario */
.contact-form {
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 6px var(--color_shadow);
    text-align: left;
}


/* Posicicion horizontal */
.contact {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

/* Edicion footer  */
.item__contact {
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);

}


/* iconos de la izquierda footer */
.contact__icon {
    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
}

/* colores iconos de la derecja footer */
.contact__icon--modifier {
    color: var(--black1);
}
/* tamaño letra mensaje footer  */
.contact__title {
    font-size: 16px;
    line-height: 20px;
}
